<h1>Edit Task <%= @task.title %></h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: 'le wagon', class: "input"%>
  <%= f.label :details %>
  <%= f.text_field :details, placeholder: 'rails, MVC', class: "input" %>
  <%= f.label :completed %>
  <%= f.check_box :completed %>
  <%= f.submit class: 'btn btn-primary'%>
<% end %>
